.login-background{
    height: 100vh;
    
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    .login-container{
        border-radius: 10px;
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin:auto;
        background-color: white;
        height: 450px;
        .login-content{
            padding: 15px;

            .custom-input-password{
                position: relative;
                i {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    cursor: pointer;
                }
            }

            .text-login{
                text-align: center;
                padding-top:10px;
                font-weight: 600;
                font-size: 24px;
            }
            .login-input{
                margin-top:7px;
            }
            .btn-login{
                color: white;
                font-size: 16px;
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                background:linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
            }
            .loginforgot-password{
                font-size:14px
            }
            .social-login{
                display: flex;
                font-size: 35px;
               justify-content:center;
               margin-top: 10px;
                .google{
                    font-size: 30px;
                    background: #e24949;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    margin-right: 10px;
                  
                }
                .facebook{
                    font-size: 30px;
                    background: #2877bc;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
            }
        }
    }
}